<h1>courses</h1>

{{#if courses.length}}
    {{#each courses}}
        <div class="row">
            <div class="col s6 offset-3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{img}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{title}}</span>
                        <p class="price">{{price}}</p>
                    </div>
                    <div class="card-action">
                        <a href="/courses/{{id}}">This is a link</a>
                        {{#if @root.isAuth}}
                            {{#ifeq userId._id @root.userId}}
                                <a href="/courses/{{id}}/edit?allow=true">edit</a>
                            {{/ifeq}}
                            <form action="/card/add" method="post">
                                <input type="hidden" name="_csrf" value="{{@root.csrf}}">

                                <input type="hidden" name="id" value="{{id}}">
                                <button type="submit" class="btn btn-primary"> buy</button>
                            </form>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else }}
    <p>no one</p>
{{/if}}