<h1>my orders</h1>

<div id="order">
    {{#if orders.length}}
        {{#each orders}}
            <div class="row">
                <div class="col s6 offset-s3">
                    <div class="card">
                    <span class="card-title">
                        order {{_id}}
                    </span>
                        <p> {{date}}</p>
                        <p><em>
                            {{user.userId.name}}
                        </em>
                            {{user.userId.email}}
                        </p>

                        <ol>
                            {{#each courses}}
                                <li>{{course.title}}</li>
                            {{/each}}
                        </ol>

                        <hr>
                        <p>price: {{price}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{ else}}
        empty
    {{/if}}
</div>